@charset "utf-8";
/* CSS Document */

body { 
	background-color:#5b7bb4;
	background-image:url(./images/header_background.png);
	background-position:center;
	background-repeat:no-repeat;
	background-position:top;
	padding-bottom:40px;
	clear:both;
	}
	#loginform{
	background-color:#5b7bb4;	
	color:#FFF;
	font-weight:bold;
	}
	#loginform a{
	color:#FFF;font-weight:bold;	
	}
	.inputloginform{
	width:150px;	
	}
	#bannerimage{
		width:715px;
		height:185px; 
		border:none;
		border:hidden;
		margin-left:25px;
	}

 img{
	border-color:#c4bdd2;
 }
 .meniu{
	 text-decoration:none;
	 color:#FFF;
 }
 .meniu a:link {text-decoration:none;color:#FFF;}
 .meniu a:visited {text-decoration:none;color:#FFF;}
 .meniu a:hover {text-decoration:none;color:#c4bdd2;}
 .meniu a:active {text-decoration:none;color:#c4bdd2;}
 
 .sitemap{
	 text-decoration:none;color:#c4bdd2;
 }
 .sitemap a:link {text-decoration:none;color:#685b7f;}
 .sitemap a:visited {text-decoration:none;color:#685b7f;}
 .sitemap a:hover {text-decoration:none;color:#c4bdd2;}
 .sitemap a:active {text-decoration:none;color:#c4bdd2;}
 
 a:link {text-decoration:none;color:#000;}
 a:visited {text-decoration:none;color:#000;}
 a:hover {text-decoration:none;color:#c4bdd2;}
 a:active {text-decoration:none;color:#c4bdd2;}